:root {
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpont-desktop: 992px;
  --desktop-only-display: none;
}

@media screen and (min-width: 576px) {
  /* Mobile */
  :root {
    --mobile-only-display: block;
    --desktop-only-display: none;
  }
}

@media screen and (min-width: 992px) {
  /* Desktop */
  :root {
    --mobile-only-display: none;
    --desktop-only-display: block;
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Sane Reset Below */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind */
@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.card {
  @apply flex flex-col justify-center items-center text-center shadow-lg rounded-md bg-blue-900 text-white pr-4 pl-4 pt-6 pb-6 transform hover:translate-y-1 transition-all cursor-pointer;
}

.card-icon-area {
  @apply w-20 h-20 rounded-full bg-gray-100 mb-3 text-blue-400 flex justify-center items-center text-4xl;
}

.title {
  @apply text-gradient bg-gradient-to-br from-blue-200 via-blue-500 to-indigo-800 font-bold uppercase mt-7 mb-2;
}

.button {
  @apply shadow-lg cursor-pointer transform hover:translate-y-1 transition-all select-none hover:bg-blue-500 rounded-md bg-blue-400 text-white pr-5 pl-5 pt-2 pb-2 flex justify-center items-center;
}

.reverse {
  animation-direction: reverse;
}

.slow-1 {
  animation-duration: 1s;
}
.slow-2 {
  animation-duration: 2s;
}
.slow-3 {
  animation-duration: 3s;
}
.slow-4 {
  animation-duration: 4s;
}
.slow-5 {
  animation-duration: 5s;
}

.circle-container {
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  @apply transform -translate-x-1/2 -translate-y-1/2;
}

.circle {
  --size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  @apply transform -translate-x-1/2 -translate-y-1/2;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.circle-10 {
  --size: 10%;
}
.circle-20 {
  --size: 20%;
}
.circle-30 {
  --size: 30%;
}
.circle-40 {
  --size: 40%;
}
.circle-50 {
  --size: 50%;
}
.circle-60 {
  --size: 60%;
}
.circle-70 {
  --size: 70%;
}
.circle-80 {
  --size: 80%;
}
.circle-90 {
  --size: 90%;
}

.arc-60 {
  --degree: 60;
  transform: rotate(45deg) skewX(30deg);
}

.arc-60:before {
  transform: skewX(-30deg);
}

.arc-140 {
  transform: rotate(45deg) skewX(50deg) !important;
}

.arc-140:before {
  transform: skewX(-50deg) !important;
}

.rotation-0 {
  --tw-rotate: 0deg !important;
}
.rotation-45 {
  --tw-rotate: 45deg !important;
}
.rotation-90 {
  --tw-rotate: 90deg !important;
}
.rotation-135 {
  --tw-rotate: 135deg !important;
}
.rotation-180 {
  --tw-rotate: 180deg !important;
}
.rotation-225 {
  --tw-rotate: 225deg !important;
}
.rotation-270 {
  --tw-rotate: 270deg !important;
}
.rotation-315 {
  --tw-rotate: 315deg !important;
}

.arc-w-05 {
  --arc-width: 0.5em !important;
  --arc-width-adjust: -0.5em !important;
}
.arc-w-1 {
  --arc-width: 1em !important;
  --arc-width-adjust: -1em !important;
}
.arc-w-15 {
  --arc-width: 1.5em !important;
  --arc-width-adjust: -1.5em !important;
}
.arc-w-2 {
  --arc-width: 2em !important;
  --arc-width-adjust: -2em !important;
}

.arc {
  --arc-width: 1em;
  --arc-width-adjust: -1em;
  --degree: 60deg;
  --rotation: 45deg;
  overflow: hidden;
  position: absolute;
  border-style: none;
  /* make sure top & left values are - the width of the border */
  /* the bottom right corner is the centre of the parent circle */
  top: var(--arc-width-adjust);
  right: 50%;
  bottom: 50%;
  left: var(--arc-width-adjust);
  /* the transform origin is the bottom right corner */
  transform-origin: 100% 100%;
  /* rotate by any angle */
  /* the skew angle is 90deg - the angle you want for the arc */
  transform: rotate(var(--rotation)) skewX(30deg);
}

.arc:before {
  box-sizing: border-box;
  display: block;
  border: solid var(--arc-width);
  border-color: inherit;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform: skewX(-30deg);
  content: '';
}
